@font-face {
  font-family: sf;
  font-weight: 400;
  font-style: normal;
  src:
    local('.SFNS-Regular'),
    local('.SFUI-Regular');
}

@font-face {
  font-family: sf;
  font-weight: 400;
  font-style: italic;
  src:
    local('.SFNS-RegularItalic'),
    local('.SFUI-RegularItalic');
}

@font-face {
  font-family: sf;
  font-weight: 500;
  font-style: normal;
  src:
    local('.SFNS-Semibold'),
    local('.SFUI-Semibold');
}

@font-face {
  font-family: sf;
  font-weight: 500;
  font-style: italic;
  src:
    local('.SFNS-SemiboldItalic'),
    local('.SFUI-SemiboldItalic');
}

@font-face {
  font-family: sf;
  font-weight: 700;
  font-style: normal;
  src:
    local('.SFNS-Heavy'),
    local('.SFUI-Heavy');
}

@font-face {
  font-family: sf;
  font-weight: 700;
  font-style: italic;
  src:
    local('.SFNS-HeavyItalic'),
    local('.SFUI-HeavyItalic');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('BasierSquare-Regular'),
    local('Basier Square Regular'),
    url('basier/basiersquare-regular-webfont.woff2') format('woff2'),
    url('basier/basiersquare-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    local('BasierSquare-RegularItalic'),
    local('Basier Square Regular Italic'),
    url('basier/basiersquare-regularitalic-webfont.woff2') format('woff2'),
    url('basier/basiersquare-regularitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('BasierSquare-Medium'),
    local('Basier Square Medium'),
    url('basier/basiersquare-medium-webfont.woff2') format('woff2'),
    url('basier/basiersquare-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    local('BasierSquare-MediumItalic'),
    local('Basier Square Medium Italic'),
    url('basier/basiersquare-mediumitalic-webfont.woff2') format('woff2'),
    url('basier/basiersquare-mediumitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('BasierSquare-SemiBold'),
    local('Basier Square SemiBold'),
    url('basier/basiersquare-semibold-webfont.woff2') format('woff2'),
    url('basier/basiersquare-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Basier Square';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local('BasierSquare-SemiBoldItalic'),
    local('Basier Square SemiBold Italic'),
    url('basier/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
    url('basier/basiersquare-semibolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SD Gothic Neo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('AppleSDGothicNeo-Regular'),
    local('Apple SD Gothic Neo Regular'),
    url('sandoll/SDVRGothicNeoaTTF-dRg.woff2') format('woff2'),
    url('sandoll/SDVRGothicNeoaTTF-dRg.woff') format('woff');
}

@font-face {
  font-family: 'SD Gothic Neo';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('AppleSDGothicNeo-SemiBold'),
    local('Apple SD Gothic Neo SemiBold'),
    url('sandoll/SDGothicNeoaTTF-fSm.woff2') format('woff2'),
    url('sandoll/SDGothicNeoaTTF-fSm.woff') format('woff');
}

@font-face {
  font-family: 'SD Gothic Neo';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('AppleSDGothicNeo-ExtraBold'),
    local('Apple SD Gothic Neo ExtraBold'),
    url('sandoll/SDVRGothicNeoaTTF-hExBd.woff2') format('woff2'),
    url('sandoll/SDVRGothicNeoaTTF-hExBd.woff') format('woff');
}
